body {
  background: url("coffee-apple.jpg") no-repeat center fixed;
  -webkit-background: cover;
  -moz-background: cover;
  -o-background: cover;

  background: cover;
}
.About {
  color: #fff !important;
  margin-top: 25%;
  font-size: 20px;
  text-align: center !important;
}
